@model WebStore.Models.Employee

<div class="container">
    <div class="row">
        <h2 class="title text-center">Карта сотрудника</h2>
        @if (Model != null)
        {
            <table class="table table-striped">
                <thead class="text-center m_text-bold">
                    <tr>
                        <td>Имя</td>
                        <td>Фамилия</td>
                        <td>Отчество</td>
                        <td>Пол</td>
                        <td>Возраст</td>
                        <td>Профессия</td>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>@Model.Name</td>
                        <td>@Model.Surename</td>
                        <td>@Model.Patronymic</td>
                        <td>@Model.Gender</td>
                        <td>@Model.Age</td>
                        <td>@Model.Profession</td>

                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <p>Сотрудник не найден</p>
        }

        <a class="myLink" asp-action="EmployeesList">Вернуться к списку сотрудников</a>
        <hr />
        <br>
    </div>   
</div>
