@model IEnumerable<WebStore.Models.Employee>


<div class="container">
    <div class="row">
        <h2>Список сотрудников</h2>
        <table class="table">
            <thead>
                <tr>
                    <td>Имя</td>
                    <td>Фамилия</td>
                    <td>Отчество</td>
                    <td>Возраст</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.Name</td>
                        <td>@employee.Surename</td>
                        <td>@employee.Patronymic</td>
                        <td>@employee.Age</td>
                        <td>@Html.ActionLink("Подробнее", "Details", new { id = employee.Id })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


